{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div id="main">

        <b>Bitte beantworten Sie alle Fragen auf allen Seiten. Alle Fragen müssen richtig beantwortet werden.<br>
        Klicken Sie unten auf den entsprechenden Knopf, um zwischen den Seiten zu navigieren.</b>


        <div id="info" >
            <div id="info-text">


                {% if player.treatment == 'only' %}

                        <div id="page1" style="display: block;">

                            <div id="error_control1" class="feedback"  style="display: none;"></div>
                            {% formfield player.control1 %}
                            <br>
                            <div id="error_control2"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control2 %}
                            <br>
                            <div id="error_control3a"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3a %}
                            <br>
                            <div id="error_control3b"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3b %}

                        </div>

                        <div id="page2" style="display: none;">
                            <div id="error_control3c"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3c %}
                        </div>

                        <div id="page3" style="display: none">

                        </div>

                        <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                        <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                        <!-- is not displayed in that treatment   -->
                        <button id='buttonPage3' class="pageButton" type='button' style=" display:none; color: white">Seite3</button>
                    

                {% elif player.treatment == 'exclude'  %}


                        <div id="page1" style="display: block;">

                                <div id="error_control1"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control1 %}
                                <br>
                                <div id="error_control2"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control2 %}
                                <br>
                                <div id="error_control3a"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control3a %}
                                <br>
                                <div id="error_control3b"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control3b %}

                        </div>

                        <div id="page2" style="display: none;">
                                <div id="error_control3c"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control3c %}

                                <div id="error_control3d"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control3d %}

                                <div id="error_control4"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control4 %}
                                <br>
                                <div id="error_control5"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control5 %}

                        </div>

                        <div id="page3" style="display: none;">
                                <div id="error_control6"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control6 %}
                                <br>
                                <div id="error_control7exclude"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control7exclude %}
                                <br>
                                <div id="error_control8"  class="feedback"  style="display: none;"></div>
                                {% formfield player.control8 %}
                        </div>


                        <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                        <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                        <button id='buttonPage3' class="pageButton" type='button' style=" color: white">Seite3</button>

                {% elif player.treatment == 'nosanction' %}

                        <div id="page1" style="display: block;">

                            <div id="error_control1"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control1 %}
                            <br>
                            <div id="error_control2"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control2 %}
                            <br>
                            <div id="error_control3a"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3a %}
                            <br>
                            <div id="error_control3b"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3b %}


                        </div>

                        <div id="page2" style="display: none;">

                            <div id="error_control3c"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3c %}

                            <div id="error_control7control"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control7control %}
                            <br>
                            <div id="error_control8"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control8 %}

                        </div>

                        <div id="page3" style="display: none">

                        </div>

                        <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                        <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                        <!-- is not displayed in that treatment   -->
                        <button id='buttonPage3' class="pageButton" type='button' style=" display:none; color: white">Seite3</button>

                {% elif player.treatment == 'dislike' %}


                        <div id="page1" style="display: block;">

                            <div id="error_control1"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control1 %}
                            <br>
                            <div id="error_control2"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control2 %}
                            <br>
                            <div id="error_control3a"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3a %}
                            <br>
                            <div id="error_control3b"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3b %}

                        </div>

                        <div id="page2" style="display: none;">

                            <div id="error_control3c"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3c %}

                            <div id="error_control7control"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control7control %}
                            <br>
                            <div id="error_control8"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control8 %}

                        </div>

                        <div id="page3" style="display: none">

                           <div id="error_control5dislike"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control5dislike %}

                            <div id="error_control6dislike"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control6dislike %}

                            <div id="error_control4dislike"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control4dislike %}

                        </div>

                        <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                        <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                        <button id='buttonPage3' class="pageButton" type='button' style="color: white">Seite3</button>

                {% elif player.treatment == 'punish' %}

                        <div id="page1" style="display: block;">

                            <div id="error_control1"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control1 %}
                            <br>
                            <div id="error_control2"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control2 %}
                            <br>
                            <div id="error_control3a"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3a %}
                            <br>
                            <div id="error_control3b"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3b %}


                        </div>

                        <div id="page2" style="display: none;">

                            <div id="error_control3c"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control3c %}

                            <div id="error_control7control"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control7control %}
                            <br>
                            <div id="error_control8"  class="feedback"  style="display: none;"></div>
                            {% formfield player.control8 %}

                        </div>

                        <div id="page3" style="display: none">
                        </div>

                        <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                        <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                        <!-- is not displayed in that treatment   -->
                        <button id='buttonPage3' class="pageButton" type='button' style=" display:none; color: white">Seite3</button>

                {% endif %}
           </div>
        </div>
    </div>

    <br>
    <!-- the button that the player sees, does not submit page-->
    <button id='checkbutton' type='button' style="color: white">Antworten auf allen Seiten abschicken</button>

    <!-- hidden next button, is clicked when the player has everything correctly -->
    <button class="otree-btn-next btn btn-primary next-button otree-next-button" id="next" style="visibility: hidden" ></button>
     <div id="tellhim" style="color: red; display: none">Bitte überprüfen Sie Ihre Antworten auf allen Seiten</div>

    <!-- count players tries to submit the form, when he has not all answers correctly -->
   <input type="hidden" name="control_tries" id="hidden_counter"/>




{% endblock %}


{% block scripts %}

    <style type="text/css">

        .pageButton{background-color:#007bff; border: solid 0px; border-radius: 3px}
        .feedback{border: solid 1px; border-radius:3px; padding-left: 10px}


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }


        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:100%; border-color: lightgrey;margin-top: 20px}
        #info-text{margin-left: 15px}
        #tables{margin-left: 15px; padding-top: 15px}


        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}

        #checkbutton{    color: #fff;
                         background-color: #007bff;
                         border-color: #007bff;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;  }
    </style>


    <script>


    var button1 = document.getElementById('buttonPage1');
    button1.addEventListener('click', function() { navigate(1); });
    var button2 = document.getElementById('buttonPage2');
    button2.addEventListener('click', function() { navigate(2); });
    var button3 = document.getElementById('buttonPage3');
    button3.addEventListener('click', function() { navigate(3); });


    button1.addEventListener('mouseover', function() { showlink(1); });
    button2.addEventListener('mouseover', function() { showlink(2); });
    button3.addEventListener('mouseover', function() { showlink(3); });
     button1.addEventListener('mouseout', function() { showlinkout(1); });
    button2.addEventListener('mouseout', function() { showlinkout(2); });
    button3.addEventListener('mouseout', function() { showlinkout(3); });


    var curr_page = 1;




    function navigate(butnum){

        if (butnum==1){
            document.getElementById("page1").style.display = "block";
            document.getElementById("page2").style.display = "none";
            document.getElementById("page3").style.display = "none";

            document.getElementById("buttonPage1").style.backgroundColor = "lightskyblue";
            document.getElementById("buttonPage2").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage3").style.backgroundColor = "#007bff";

            curr_page = 1;

        }else if(butnum==2){
            document.getElementById("page1").style.display = "none";
            document.getElementById("page2").style.display = "block";
            document.getElementById("page3").style.display = "none";

            document.getElementById("buttonPage1").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage2").style.backgroundColor = "lightskyblue";
            document.getElementById("buttonPage3").style.backgroundColor = "#007bff";

            curr_page = 2;

        }else if(butnum==3){
            document.getElementById("page1").style.display = "none";
            document.getElementById("page2").style.display = "none";
            document.getElementById("page3").style.display = "block";

            document.getElementById("buttonPage1").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage2").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage3").style.backgroundColor = "lightskyblue";

            curr_page = 3;
        }
    }

    function showlink(butnum){
        if (butnum==1){
            document.getElementById("buttonPage1").style.backgroundColor = "#003bff";
        }else if(butnum==2){
            document.getElementById("buttonPage2").style.backgroundColor = "#003bff";
        }else if(butnum==3){
            document.getElementById("buttonPage3").style.backgroundColor = "#003bff";
        }
    }

     function showlinkout(butnum) {
         if (butnum == 1) {
             if (curr_page != 1) {
                 document.getElementById("buttonPage1").style.backgroundColor = "#007bff";
             } else {
                 document.getElementById("buttonPage1").style.backgroundColor = "lightskyblue";
             }
         } else if (butnum == 2) {
             if (curr_page != 2) {
                 document.getElementById("buttonPage2").style.backgroundColor = "#007bff";
             } else {
                 document.getElementById("buttonPage2").style.backgroundColor = "lightskyblue";
             }
         } else if (butnum == 3) {
             if (curr_page != 3) {
                 document.getElementById("buttonPage3").style.backgroundColor = "#007bff";
             } else {
                 document.getElementById("buttonPage3").style.backgroundColor = "lightskyblue";
             }
         }

    }



    var checkbutton = document.getElementById('checkbutton');
    checkbutton.addEventListener('click', evaluate_answers);
    var click_counter = 0;

    //this is super ugly but I have to do it individually because in the loop always something broke
    function evaluate_answers() {

        // note cost_for_vote is rendered as "0,5" instead of "0.5" I think because of the django lang=GER
        // so use it as a string
        var cost_for_vote = "{{ cost_for_vote }}";
        var treatment = "{{ player.treatment }}";
        var allCorrect = true;

        var wrong_text = "Bei der folgenden Frage ist die Antwort nicht korrekt.";
        var wrong_bg = "LightCoral";
        var wrong_bc = "red";
        var wrong_color = "white";

        var corr_text = "Die folgende Antwort ist richtig.";
        var corr_bg = "lightgreen";
        var corr_bc = "green";
        var corr_color = "black"

               //control1
               var controlme = document.getElementById("id_control1");
               var err_message = document.getElementById("error_control1");

               if (controlme.value != 7){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;

               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }


                 //control2
                controlme = document.getElementById("id_control2");
                err_message = document.getElementById("error_control2");

               if (controlme.value != 8){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }


                 //control3a
                controlme = document.getElementById("id_control3a_1");
                err_message = document.getElementById("error_control3a");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }


                //control3b
                controlme = document.getElementById("id_control3b_0");
                err_message = document.getElementById("error_control3b");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }

                 //control3c
                controlme = document.getElementById("id_control3c_0");
                err_message = document.getElementById("error_control3c");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }

        //control3d
        if (treatment=="exclude"){
                controlme = document.getElementById("id_control3d_1");
                err_message = document.getElementById("error_control3d");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}


        // control4
        if (treatment=="exclude"){
                controlme = document.getElementById("id_control4_4");
                err_message = document.getElementById("error_control4");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}

        // control4dislike
        if (treatment=="dislike"){
                controlme = document.getElementById("id_control4dislike_4");
                err_message = document.getElementById("error_control4dislike");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}




        // control5
        if (treatment=="exclude"){

            //the answer differs depending on the cost_for_vote
            if (cost_for_vote=="0,2"){
                controlme = document.getElementById("id_control5_1");
            }else if (cost_for_vote=="0,5"){
                controlme = document.getElementById("id_control5_2");
            }
               err_message = document.getElementById("error_control5");
               if (!(controlme.checked)){
                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{
                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}



        // control5dislike
        if (treatment=="dislike"){

            //the answer differs depending on the cost_for_vote
            if (cost_for_vote=="0,2"){
                controlme = document.getElementById("id_control5dislike_1");
            }else if (cost_for_vote=="0,5"){
                controlme = document.getElementById("id_control5dislike_2");
            }
               err_message = document.getElementById("error_control5dislike");
               if (!(controlme.checked)){
                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{
                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}




        // control6
        if (treatment=="exclude"){
                controlme = document.getElementById("id_control6_0");
                err_message = document.getElementById("error_control6");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}


            // control6dislike
            // Note correct answer here is NO whereas in control6 (exclude) it is YES
             if (treatment=="dislike"){
                controlme = document.getElementById("id_control6dislike_1");
                err_message = document.getElementById("error_control6dislike");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}



               if (treatment=="exclude"){
               // control7exclude
                controlme = document.getElementById("id_control7exclude_2");
                err_message = document.getElementById("error_control7exclude");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }
               }

               if (treatment=="nosanction" || treatment=="dislike" || treatment=="punish" ){
               // control7control
                controlme = document.getElementById("id_control7control_2");
                err_message = document.getElementById("error_control7control");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }
               }

          //control8

          if (!(treatment=="only")){
                controlme = document.getElementById("id_control8_2");
                err_message = document.getElementById("error_control8");

               if (!(controlme.checked)){

                   err_message.style.backgroundColor = wrong_bg;
                   err_message.style.borderColor = wrong_bc;
                   err_message.style.color = wrong_color;

                   err_message.textContent = wrong_text;
                   err_message.style.display = "Block";
                   allCorrect = false;
               }else{

                   err_message.textContent = corr_text;
                   err_message.style.display = "Block";
                   err_message.style.backgroundColor = corr_bg;
                   err_message.style.borderColor = corr_bc;
                   err_message.style.color = corr_color;
               }}

        if (allCorrect == true) {

            click_counter += 1;
            document.getElementById('hidden_counter').value = click_counter;
            document.getElementById('next').click();

        }else{
            document.getElementById("tellhim").style.display = "Block";
            click_counter += 1;
            }
    }


    </script>

{% endblock %}
