{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}


      <div id="header">
            <div id="header-left">Sie sind <b>{{ player.germanplayerlabel }}</b></div>
            <div id="header-right">Letzte Seite</b> </div>
        </div>

    <div id="main">

        <br>
        Das Experiment ist beendet.<br>

        <p>
        Der Computer hat die Runde gezogen, welche für Sie ausbezahlt wird. <br>
        Es wird Runde {{ payround }} ausbezahlt. <br>

        {% if player.treatment == 'exclude' %}
        In dieser Runde war ihr Verdienst {{ payoff_in_payround_taler }} Taler.<br>
        Dies entspricht {{ euro }} Euro.<br>
        {% endif %}

        {% if player.treatment == 'excludemany' %}
        In dieser Runde war ihr Verdienst {{ payoff_in_payround_taler }} Taler (nach Abzug der Kosten für die evtl abgegebenen Stimmen).<br>
        Dies entspricht {{ euro }} Euro.<br>
        {% endif %}

        Ihre Prämie für pünktliches Erscheinen ist {{ part_fee }}.<br>

        {% if diff == 0 %}
            Insgesamt erhalten Sie {{all}} für die Teilnahme am Experiment.
        {% else %}
            Davon werden €{{diff}} abgezogen, da Sie die Bonusrunde des Gruppenspiels gespielt haben.<br>
            Insgesamt erhalten Sie {{all}} für die Teilnahme am Experiment.
        {% endif %}
        </p>

        Ihre Zahl für die Auszahlung lautet {{ number }}. <br>
        Bitte bleiben Sie sitzen, bis diese Zahl aufgerufen wird oder bis Sie weitere Anweisungen erhalten.<br>
        Danke für Ihre Teilnahme.

        {{ code }}

           </div>
        </div>



    <br>

{% endblock %}


{% block scripts %}

    <style type="text/css">


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }


        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:100%; border-color: lightgrey;margin-top: 20px}
        #info-text{margin-left: 15px}


        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>

{% endblock %}
