{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}


      <div id="header">
            <div id="header-left">You are <b>{{ player.playerlabel }}</b></div>
{#            <div id="header-right">Current round is <b>Round {{ player.round_number }}</b> </div>#}
        </div>

    <div id="main">


        <div id="info" >
            <div id="info-text">

            <br><br>

                {% if player.round_number == 1 %}

                   Please read the instructions carefully. On the next page, your understanding of the instructions will be tested.<br>
                   Press next to proceed.


                {% else %}

                    On the next page, the new round starts.

                {% endif %}
           </div>
        </div>


        <div id="tables"></div>



    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}

    <style type="text/css">


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }


        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:200px; border-color: lightgrey;margin-top: 20px}
        #info-text{margin-left: 15px}
        #tables{margin-left: 15px; padding-top: 15px}


        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>

{% endblock %}
