{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}


      <div id="header">
            <div id="header-left">Sie sind <b>{{ player.germanplayerlabel }}</b></div>
            <div id="header-right"></b> </div>
        </div>

    <div id="main">

        <br>
        Dieser Fragebogen beendet das Experiment. Bitte füllen Sie ihn aus.

        <div id="info" >
            <div id="info-text">


            {% if player.treatment == "exclude"%}

                {% formfield player.q1 %}
                {% formfield player.q2 %}
                {% formfield player.q3 %}
                {% formfield player.q4 %}
                {% formfield player.q5 %}
                {% formfield player.q7 %}
                {% formfield player.q8 %}
                {% formfield player.q9 %}
                {% formfield player.q10%}

            {% else %}

                {% formfield player.q1 %}
                {% formfield player.q2 %}
                {% formfield player.q5 %}
                {% formfield player.q6 %}
                {% formfield player.q7 %}
                {% formfield player.q8 %}
                {% formfield player.q9 %}
                {% formfield player.q10%}

            {% endif %}

                <br>





           </div>
        </div>
    </div>



    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}

    <style type="text/css">


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }


        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:100%; border-color: lightgrey;margin-top: 20px}
        #info-text{margin-left: 15px}


        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>

{% endblock %}
