{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div id="mcpixel"></div>

    <div id="main">

        <b>Dieser Fragebogen beendet das Experiment. Bitte füllen Sie ihn auf allen Seiten aus.<br>
        Sie können erst weiter, wenn Sie alle Fragen auf allen Seiten beantwortet haben.</b>

        <div id="info" >
            <div id="info-text">


            {% if player.treatment == "only" %}

                <div id="page1" style="display: block;">

                    {% formfield player.q1 %}
                    {% formfield player.q2 %}
                    {% formfield player.q5 %}


                </div>


                <div id="page2" style="display: none;">

                    {% formfield player.q7 %}
                    {% formfield player.q8 %}
                    {% formfield player.q9 %}

                </div>


                <div id="page3" style="display: none;">

                      {# customized inputfield, s.t it is not only a one line input #}
                    <label class="col-form-label" for="id_q10">Möchten Sie uns noch etwas mitteilen? Hier ist die Gelegenheit dazu!</label><br>
                    <textarea id="id_q10" name="q10"></textarea>

                </div>



                <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                <button id='buttonPage3' class="pageButton" type='button' style="color: white">Seite3</button>

            {% elif player.treatment == "nosanction" %}

                <div id="page1" style="display: block;">

                    {% formfield player.q1 %}
                    {% formfield player.q2 %}
                    {% formfield player.q5 %}


                </div>


                <div id="page2" style="display: none;">

                    {% formfield player.q7 %}
                    {% formfield player.q8 %}
                    {% formfield player.q9 %}

                </div>


                <div id="page3" style="display: none;">

                      {# customized inputfield, s.t it is not only a one line input #}
                    <label class="col-form-label" for="id_q10">Möchten Sie uns noch etwas mitteilen? Hier ist die Gelegenheit dazu!</label><br>
                    <textarea id="id_q10" name="q10"></textarea>

                </div>



                <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                <button id='buttonPage3' class="pageButton" type='button' style="color: white">Seite3</button>


            {% elif player.treatment == "dislike" %}

                <div id="page1" style="display: block;">
                    {% formfield player.q1 %}
                    {% formfield player.q2 %}
                    {% formfield player.q3dislike %}
                </div>


                <div id="page2" style="display: none;">
                    {% formfield player.q4dislike %}
                    {% formfield player.q7 %}
                    {% formfield player.q5 %}
                </div>


                <div id="page3" style="display: none;">
                    {% formfield player.q8 %}
                    {% formfield player.q9 %}
                      {# customized inputfield, s.t it is not only a one line input #}
                    <label class="col-form-label" for="id_q10">Möchten Sie uns noch etwas mitteilen? Hier ist die Gelegenheit dazu!</label><br>
                    <textarea id="id_q10" name="q10"></textarea>

                </div>



                <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                <button id='buttonPage3' class="pageButton" type='button' style="color: white">Seite3</button>



            {% elif player.treatment == "punish" %}

                <div id="page1" style="display: block;">

                    {% formfield player.q1 %}
                    {% formfield player.q2 %}
                    {% formfield player.q5 %}


                </div>


                <div id="page2" style="display: none;">

                    {% formfield player.q7 %}
                    {% formfield player.q8 %}
                    {% formfield player.q9 %}

                </div>


                <div id="page3" style="display: none;">

                      {# customized inputfield, s.t it is not only a one line input #}
                    <label class="col-form-label" for="id_q10">Möchten Sie uns noch etwas mitteilen? Hier ist die Gelegenheit dazu!</label><br>
                    <textarea id="id_q10" name="q10"></textarea>

                </div>



                <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                <button id='buttonPage3' class="pageButton" type='button' style="color: white">Seite3</button>

            {% elif player.treatment == "exclude"%}


                <div id="page1" style="display: block;">

                    {% formfield player.q1 %}
                    {% formfield player.q2 %}
                    {% formfield player.q3 %}

                </div>


                <div id="page2" style="display: none;">

                    {% formfield player.q4 %}
                    {% formfield player.q5 %}
                    {% formfield player.q7 %}


                </div>

                <div id="page3" style="display: none;">
                    {% formfield player.q8 %}
                    {% formfield player.q9 %}
                   {# customized inputfield, s.t it is not only a one line input #}
                    <label class="col-form-label" for="id_q10">Möchten Sie uns noch etwas mitteilen? Hier ist die Gelegenheit dazu!</label><br>
                    <textarea id="id_q10" name="q10"></textarea>
                </div>

                <button id='buttonPage1' type='button' class="pageButton" style="color: white; background-color:lightskyblue">Seite1</button>
                <button id='buttonPage2' class="pageButton" type='button' style="color: white">Seite2</button>
                <button id='buttonPage3' class="pageButton" type='button' style="color: white">Seite3</button>

            {% endif %}

                <br>
           </div>
        </div>
    </div>



    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}

    <script>


      var button1 = document.getElementById('buttonPage1');
    button1.addEventListener('click', function() { navigate(1); });
    var button2 = document.getElementById('buttonPage2');
    button2.addEventListener('click', function() { navigate(2); });
    var button3 = document.getElementById('buttonPage3');
    button3.addEventListener('click', function() { navigate(3); });


    button1.addEventListener('mouseover', function() { showlink(1); });
    button2.addEventListener('mouseover', function() { showlink(2); });
    button3.addEventListener('mouseover', function() { showlink(3); });
     button1.addEventListener('mouseout', function() { showlinkout(1); });
    button2.addEventListener('mouseout', function() { showlinkout(2); });
    button3.addEventListener('mouseout', function() { showlinkout(3); });


    var curr_page = 1;




    function navigate(butnum){

        if (butnum==1){
            document.getElementById("page1").style.display = "block";
            document.getElementById("page2").style.display = "none";
            document.getElementById("page3").style.display = "none";

            document.getElementById("buttonPage1").style.backgroundColor = "lightskyblue";
            document.getElementById("buttonPage2").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage3").style.backgroundColor = "#007bff";

            curr_page = 1;

        }else if(butnum==2){
            document.getElementById("page1").style.display = "none";
            document.getElementById("page2").style.display = "block";
            document.getElementById("page3").style.display = "none";

            document.getElementById("buttonPage1").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage2").style.backgroundColor = "lightskyblue";
            document.getElementById("buttonPage3").style.backgroundColor = "#007bff";

            curr_page = 2;

        }else if(butnum==3){
            document.getElementById("page1").style.display = "none";
            document.getElementById("page2").style.display = "none";
            document.getElementById("page3").style.display = "block";

            document.getElementById("buttonPage1").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage2").style.backgroundColor = "#007bff";
            document.getElementById("buttonPage3").style.backgroundColor = "lightskyblue";

            curr_page = 3;
        }
    }

    function showlink(butnum){
        if (butnum==1){
            document.getElementById("buttonPage1").style.backgroundColor = "#003bff";
        }else if(butnum==2){
            document.getElementById("buttonPage2").style.backgroundColor = "#003bff";
        }else if(butnum==3){
            document.getElementById("buttonPage3").style.backgroundColor = "#003bff";
        }
    }

     function showlinkout(butnum) {
         if (butnum == 1) {
             if (curr_page != 1) {
                 document.getElementById("buttonPage1").style.backgroundColor = "#007bff";
             } else {
                 document.getElementById("buttonPage1").style.backgroundColor = "lightskyblue";
             }
         } else if (butnum == 2) {
             if (curr_page != 2) {
                 document.getElementById("buttonPage2").style.backgroundColor = "#007bff";
             } else {
                 document.getElementById("buttonPage2").style.backgroundColor = "lightskyblue";
             }
         } else if (butnum == 3) {
             if (curr_page != 3) {
                 document.getElementById("buttonPage3").style.backgroundColor = "#007bff";
             } else {
                 document.getElementById("buttonPage3").style.backgroundColor = "lightskyblue";
             }
         }

    }






     //this prevents that pressing enter will automatically submit the page and abort the game for a player
    $(document).on("keypress", 'form', function (e) {
    var code = e.keyCode || e.which;
    console.log(code);
    if (code == 13) {
        console.log('Inside');
        e.preventDefault();
        return false;
    }
});
    </script>


    <style type="text/css">

        #mcpixel{
            position: absolute;top: 0px;
            left:0px; background-color: rgb(255,254,255);
             height: 100%; width: 140px}

        .pageButton{background-color:#007bff; border: solid 0px; border-radius: 3px}

        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }

        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:100%; border-color: lightgrey;margin-top: 20px}
        #info-text{margin-left: 15px}
        #id_q10{height:200px; width:400px}
        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}

    </style>

{% endblock %}
