{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}


     <div id="header">
            <div id="header-left">You are <b>{{ player.playerlabel }}</b></div>
            <div id="header-right">Current round is <b>Round {{ player.round_number }}</b> </div>
        </div>





    <div id="main">





        <div id="info">

            <div id="info-text">
                You contributed <b>{{ player.contribution }}</b>.
                <br>
                In total, the sum of all contributions is  <b>{{ group.total_cont }}</b>
                <br>
                Therefore, each player receives an individual share of <b>{{ group.indiv_share }}</b> from the project.<br>
                Your profit for this game is <b>{{ gameprofit }}</b>.
            </div>

        </div>


        <div id="tables">
            Table of contributions:<br>

             <table class="table table-bordered table-sm" style="width:60%">
                <tr style="background-color: black; color: white">
                    <th>Player Label</th>
                    <th>Contribution</th>
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player A</td>{% endif %}
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>{{ PlayerA }}</b></td> {% else %}<td>{{ PlayerA }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player B</td>{% endif %}
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>{{ PlayerB }}</b></td> {% else %}<td>{{ PlayerB }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player C</td>{% endif %}
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>{{ PlayerC }}</b></td> {% else %}<td>{{ PlayerC }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player D</td>{% endif %}
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>{{ PlayerD }}</b></td> {% else %}<td>{{ PlayerD }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player E</td>{% endif %}
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>{{ PlayerE }}</b></td> {% else %}<td>{{ PlayerE }}</td>{% endif %}
                </tr>
            </table>

        </div>


    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }



        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:200px; border-bottom: solid 1px lightgrey;margin-top: 20px}
        #info-text{margin-left: 15px}
        #tables{margin-left: 15px; padding-top: 15px}

        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>
{% endblock %}
