{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div id="mcpixel"></div>

      <div id="softTO" class="otree-timer alert alert-warning">
    <p>Bitte klicken Sie weiter.</p>
    </div>

     <div id="header">
            <div id="header-left">Sie sind <b>{{ player.germanplayerlabel }}</b></div>
            <div id="header-right">Dies ist <b>Runde {{round_number }}</b> </div>
        </div>



    <div id="main">
         <div id="info">
            <div id="info-text">
                <br>




                {% if  player.sanctioned == False %}

                    {% if player.treatment == 'exclude' %}
                          {{ player.myvotes }} {% if player.myvotes == 1 %}anderes Gruppenmitglied hat dafür gestimmt, Sie auszuschließen.{% else %}andere Gruppenmitglieder haben dafür gestimmt, Sie auszuschließen.{% endif %}  <br>
                          Damit sind Sie NICHT vom Gruppenspiel in dieser Runde ausgeschlossen und dürfen mitspielen.<br>
                          In der untenstehenden Tabelle sehen Sie, wie viele Stimmen die anderen Gruppenmitglieder erhalten haben und wer das Spiel mit Ihnen spielen wird.

                    {% elif player.treatment == 'dislike' %}
                       {{ player.myvotes }} {% if player.myvotes == 1 %}anderes Gruppenmitglied hat dafür gestimmt, Sie zu rügen.{% else %}andere Gruppenmitglieder haben dafür gestimmt, Sie zu rügen.{% endif %} <br>
                        Damit erhalten Sie KEINE Rüge. <br>
                        In der untenstehenden Tabelle sehen Sie, wie viele Stimmen die anderen Gruppenmitglieder erhalten haben.<br>

                    {% elif player.treatment == 'punish' %}
                        {{ player.myvotes }} {% if player.myvotes == 1 %}anderes Gruppenmitglied hat dafür gestimmt, Ihnen Punkte von Ihrem Ertrag in dieser Runde abzuziehen.{% else %}andere Gruppenmitglieder haben dafür gestimmt, Ihnen Punkte von Ihrem Ertrag in dieser Runde abzuziehen.{% endif %} <br>
                        Damit werden KEINE Punkte abgezogen.<br>
                        In der untenstehenden Tabelle sehen Sie, wie viele Stimmen die anderen Gruppenmitglieder erhalten haben.
                    {% endif %}

                {% else %}

                    {% if player.treatment == 'exclude' %}
                        {{ player.myvotes }} {% if player.myvotes == 1 %}anderes Gruppenmitglied hat dafür gestimmt, Sie auszuschließen.{% else %}andere Gruppenmitglieder haben dafür gestimmt, Sie auszuschließen.{% endif %} <br>
                        Damit sind Sie vom Gruppenspiel in dieser Runde ausgeschlossen und dürfen NICHT mitspielen.<br>
                        In der untenstehenden Tabelle sehen Sie, wie viele Stimmen die anderen Gruppenmitglieder erhalten haben und wer das Spiel spielen wird.<br>

                    {% elif player.treatment == 'dislike' %}
                        {{ player.myvotes }} {% if player.myvotes == 1 %}anderes Gruppenmitglied hat dafür gestimmt, Sie zu rügen.{% else %}andere Gruppenmitglieder haben dafür gestimmt, Sie zu rügen.{% endif %} <br>
                        Damit erhalten Sie EINE Rüge.<br>
                        In der untenstehenden Tabelle sehen Sie, wie viele Stimmen die anderen Gruppenmitglieder erhalten haben.

                    {% elif player.treatment == 'punish' %}
                        {{ player.myvotes }} {% if player.myvotes == 1 %}anderes Gruppenmitglied hat dafür gestimmt, Ihnen Punkte von Ihrem Ertrag in dieser Runde abzuziehen.{% else %}andere Gruppenmitglieder haben dafür gestimmt, Ihnen Punkte von Ihrem Ertrag in dieser Runde abzuziehen.{% endif %} <br><br>
                        Damit werden {{ Constants.punishment_value }} Punkte abgezogen.<br>
                        In der untenstehenden Tabelle sehen Sie, wie viele Stimmen die anderen Gruppenmitglieder erhalten haben.

                    {% endif %}

                {% endif %}









{#            {% if player.treatment != 'feedback' %}#}
{#                    You have <b>{{ player.myvotes }}</b> {% if player.treatment == 'exclude' %} exclusions.{% elif player.treatment == 'include' %}invitations.{% endif %}#}
{#                    <br>#}
{#                    {% if player.plays == True %}#}
{#                        You are allowed to play the guessing game.#}
{#                    {% else %}#}
{#                        {% if player.treatment == 'exclude' %}#}
{#                             You are <b>not</b> allowed to play the guessing game.#}
{#                        {% elif player.treatment == 'include' %}#}
{#                            You have not enough invitations. You are <b>not</b> allowed to play the guessing game.#}
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                    <br>#}
{##}
{#                 {% if group.all_play == True %}#}
{#                    All players will play the guessing game.#}
{#                 {% else %}#}
{#                    See below, who will play the guessing game.#}
{#                 {% endif %}#}
{##}
{#            {% else %}#}
{##}
{#                {% if player.plays == True %}#}
{#                    Feedback treatment. Put wording here (You did not get the majority in negative feedback).#}
{#                {% else %}#}
{#                    Feedback treatment. Put wording here <b>(You got the most negative feedback of all players).</b>#}
{#                    <br><br>#}
{#                    :(#}
{#                {% endif %}#}
{#            {% endif %}#}

            </div>
            </div>

            <div id="tables">
               Ergebnisse der Abstimmung:<br>
            <table class="table table-bordered table-sm" style="width:60%">
                <tr style="background-color: black; color: white">
                    <th>Teilnehmer</th>
                    <th>{% if player.treatment == 'exclude'%}Stimmen{% endif%}
                        {% if player.treatment == 'dislike' %}Stimmen{% endif %}
                       {% if player.treatment == 'punish'%}Stimmen{% endif%}   </th>


               {% if player.treatment == 'exclude' %} <th> Spielt Gruppenspiel</th> {% endif %}
                {% if player.treatment == 'dislike' %} <th> Erhält Rüge</th> {% endif %}
                {% if player.treatment == 'punish' %} <th> Erhält Punktabzug</th> {% endif %}
                </tr>
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>Sie</b></td>{% else %}<td>Teilnehmer A</td>{% endif %}
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>{{ PlayerA_votes }}</b></td> {% else %}<td>{{ PlayerA_votes }}</td>{% endif %}
                     {% if player.treatment == 'exclude' %}{% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>{{ PlayerA_plays }}</b></td> {% else %}<td>{{ PlayerA_plays }}</td>{% endif %}
                     {% else %}{% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>{{ PlayerA_sanctioned }}</b></td> {% else %}<td>{{ PlayerA_sanctioned }}</td>{% endif %}{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>Sie</b></td>{% else %}<td>Teilnehmer B</td>{% endif %}
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>{{ PlayerB_votes }}</b></td> {% else %}<td>{{ PlayerB_votes }}</td>{% endif %}
                     {% if player.treatment == 'exclude' %}{% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>{{ PlayerB_plays }}</b></td> {% else %}<td>{{ PlayerB_plays }}</td>{% endif %}
                    {% else %}{% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>{{ PlayerB_sanctioned }}</b></td> {% else %}<td>{{ PlayerB_sanctioned }}</td>{% endif %}{% endif %}
                <tr>
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>Sie</b></td>{% else %}<td>Teilnehmer C</td>{% endif %}
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>{{ PlayerC_votes }}</b></td> {% else %}<td>{{ PlayerC_votes }}</td>{% endif %}
                     {% if player.treatment == 'exclude' %}{% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>{{ PlayerC_plays }}</b></td> {% else %}<td>{{ PlayerC_plays }}</td>{% endif %}
                {% else %}{% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>{{ PlayerC_sanctioned }}</b></td> {% else %}<td>{{ PlayerC_sanctioned }}</td>{% endif %}{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>Sie</b></td>{% else %}<td>Teilnehmer D</td>{% endif %}
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>{{ PlayerD_votes }}</b></td> {% else %}<td>{{ PlayerD_votes }}</td>{% endif %}
                     {% if player.treatment == 'exclude' %}{% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>{{ PlayerD_plays }}</b></td> {% else %}<td>{{ PlayerD_plays }}</td>{% endif %}
                 {% else %}{% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>{{ PlayerD_sanctioned }}</b></td> {% else %}<td>{{ PlayerD_sanctioned }}</td>{% endif %}{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>Sie</b></td>{% else %}<td>Teilnehmer E</td>{% endif %}
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>{{ PlayerE_votes }}</b></td> {% else %}<td>{{ PlayerE_votes }}</td>{% endif %}
                     {% if player.treatment == 'exclude' %}{% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>{{ PlayerE_plays }}</b></td> {% else %}<td>{{ PlayerE_plays }}</td>{% endif %}
                {% else %}{% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>{{ PlayerE_sanctioned }}</b></td> {% else %}<td>{{ PlayerE_sanctioned }}</td>{% endif %}{% endif %}
                </tr>
            </table>
         </div>

    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">


      #mcpixel{
            position: absolute;top: 0px;
            left:0px; background-color: rgb(254,254,254);
             height: 100%; width: 140px}


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }


        #main{padding-left: 0px;height: 100%; width: 100%}
        #info{ height:200px; border-bottom: solid 1px lightgrey;;margin-top: 20px}
        #info-text{margin-left: 15px}
        #tables{margin-left: 15px; padding-top: 15px}


        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>


    <script>

    setTimeout(
    function () {
        document.getElementById("softTO").style.display = "block"
    },
    //soft timeout seconds * 1000
    20*1000
);

    </script>


{% endblock %}