{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}


     <div id="header">
            <div id="header-left">You are <b>{{ player.playerlabel }}</b></div>
            <div id="header-right">Current round is <b>Round {{ player.round_number }}</b> </div>
        </div>




    <div id="main">
         <div id="info">
            <div id="info-text">
                <br>
                You have <b>{{ player.myvotes }}</b> votes.
                <br>
                {% if player.plays == True %}
                    You are allowed to play the second game.
                {% else %}
                    {% if player.treatment == 'exclude' %}
                        You have the most exclusion votes. You are <b>not</b> allowed the play the social game.
                    {% elif player.treatment == 'include' %}
                        You have the least invitation votes. You are <b>not</b> allowed to play the social game.
                    {% endif %}
                {% endif %}

            <br>

             {% if group.all_play == True %}
                There was no {% if player.treatment == 'exclude'%} majority{% elif player.treatment == 'include'%}minority{% endif %} in voting.<br>
                All players will play the social game.
            {% else %}
                {% if player.plays == True %}
                <b>{{ group.excluded_player }}</b> will not play the social game.

                {% elif player.plays == False %}
                    You will not play the social game.
                {% endif %}
            {% endif %}

            </div>
            </div>

            <div id="tables">
               Table of Voting results:<br>
            <table class="table table-bordered table-sm" style="width:60%">
                <tr style="background-color: black; color: white">
                    <th>Player Label</th>
                    <th>{% if player.treatment == 'exclude'%}Exclusion Votes{%  elif player.treatment == 'include' %}Invitation Votes{% endif %}</th>
                    <th>Plays Social Game</th>
                </tr>
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player A</td>{% endif %}
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>{{ PlayerA_votes }}</b></td> {% else %}<td>{{ PlayerA_votes }}</td>{% endif %}
                    {% if player.playerlabel == 'Player A' %}<td style="background-color: lightgrey"><b>{{ PlayerA_plays }}</b></td> {% else %}<td>{{ PlayerA_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player B</td>{% endif %}
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>{{ PlayerB_votes }}</b></td> {% else %}<td>{{ PlayerB_votes }}</td>{% endif %}
                    {% if player.playerlabel == 'Player B' %}<td style="background-color: lightgrey"><b>{{ PlayerB_plays }}</b></td> {% else %}<td>{{ PlayerB_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player C</td>{% endif %}
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>{{ PlayerC_votes }}</b></td> {% else %}<td>{{ PlayerC_votes }}</td>{% endif %}
                    {% if player.playerlabel == 'Player C' %}<td style="background-color: lightgrey"><b>{{ PlayerC_plays }}</b></td> {% else %}<td>{{ PlayerC_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player D</td>{% endif %}
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>{{ PlayerD_votes }}</b></td> {% else %}<td>{{ PlayerD_votes }}</td>{% endif %}
                    {% if player.playerlabel == 'Player D' %}<td style="background-color: lightgrey"><b>{{ PlayerD_plays }}</b></td> {% else %}<td>{{ PlayerD_plays }}</td>{% endif %}
                </tr>
                <tr>
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>You</b></td>{% else %}<td>Player E</td>{% endif %}
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>{{ PlayerE_votes }}</b></td> {% else %}<td>{{ PlayerE_votes }}</td>{% endif %}
                    {% if player.playerlabel == 'Player E' %}<td style="background-color: lightgrey"><b>{{ PlayerE_plays }}</b></td> {% else %}<td>{{ PlayerE_plays }}</td>{% endif %}
                </tr>
            </table>
         </div>

    </div>
    <br>
    {% next_button %}
{% endblock %}


{% block scripts %}
    <style type="text/css">


        #header { border-bottom: solid 1px lightgrey;  padding-top: 3px; padding-bottom:4px }
        #header-left {display: inline-block; font-size: 12px; margin-right: 70% }
        #header-right {display: inline-block; font-size: 12px; }


        #main{border-color: #f6f6f6; padding-left: 0px;height: 100%; width: 100%}
        #info{ height:200px; border-bottom: solid 1px lightgrey;;margin-top: 20px}
        #info-text{margin-left: 15px}
        #tables{margin-left: 15px; padding-top: 15px}


        .otree-body{margin-top: 0px}
        .otree-body{padding-top: 0px}
        .page-header {padding-top: 0px;padding-bottom: 0px}
        .otree-title{font-size: 20px}
    </style>
{% endblock %}