{% extends "otree/FormPage.html" %}
{% load staticfiles otree_tags %}

{% comment %}
    this file used to be called Base.html
    If your app's templates contain this line:
    {% extends "global/Base.html" %}
    You should change it to:
    {% extends "global/Page.html" %}
{% endcomment %}


{% block global_styles  %}


    <style>
        .otree-timer {
            display: none;
        }
    </style>

{% endblock %}

{% block global_scripts  %}


<script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds <= 60) {
                    $('.otree-timer').show(); //e. g. there is also hide()
                }
            });
        });
    </script>


{% endblock %}
